flows.json
[{"id":"62679f7b.328d2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"198ebb7e.8273c5","type":"function","z":"62679f7b.328d2","name":"PreToken","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"region\",msg.payload.region)\nvar apikey=\"iqWnKcBMcP4aVgX4E9XXNUwjkyzdXJhhtQIM0zFozwPK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":340,"wires":[["88ecec9c.a66ea"]]},{"id":"88ecec9c.a66ea","type":"http request","z":"62679f7b.328d2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":328.9999952316284,"wires":[["fa1daaff.6d9018"]]},{"id":"70448c1b.159554","type":"debug","z":"62679f7b.328d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":70.99999713897705,"wires":[]},{"id":"fa1daaff.6d9018","type":"function","z":"62679f7b.328d2","name":"Pre Prediction","func":"var age = global.get('age')\nvar sex = global.get('sex')\nvar bmi = global.get('bmi')\nvar children = global.get('children')\nvar smoker = global.get('smoker')\nvar region = global.get('region')\nvar token=msg.payload.access_token\nvar instance_id=\"624fc230-8bf4-4f03-9bc4-bbac131bf528\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Age\", \"Sex\", \"BMI\", \"Children\", \"Smoker\", \"Region\"],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":291.9999990463257,"wires":[["2fcf514b.fc961e"]]},{"id":"2fcf514b.fc961e","type":"http request","z":"62679f7b.328d2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/2a30194f-a105-4c76-8dd9-421c36936e84/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":235.99999904632568,"wires":[["1d0b199e.c2df16","70448c1b.159554"]]},{"id":"999c8a99.029b08","type":"ui_form","z":"62679f7b.328d2","name":"","label":"","group":"783570fa.1171c","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Sex","value":"sex","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Children","value":"children","type":"number","required":true,"rows":null},{"label":"Smoker","value":"smoker","type":"text","required":true,"rows":null},{"label":"Region","value":"region","type":"text","required":true,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","children":"","smoker":"","region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":382.9999952316284,"wires":[["198ebb7e.8273c5"]]},{"id":"4a780ff9.0ca63","type":"ui_text","z":"62679f7b.328d2","group":"783570fa.1171c","order":2,"width":0,"height":0,"name":"","label":"Cost","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":388.20000743865967,"wires":[]},{"id":"1d0b199e.c2df16","type":"function","z":"62679f7b.328d2","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":131.60000133514404,"wires":[["4a780ff9.0ca63"]]},{"id":"783570fa.1171c","type":"ui_group","z":"","name":"Health Insurance Cost Prediction","tab":"df759954.246948","order":1,"disp":true,"width":"6","collapse":false},{"id":"df759954.246948","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]